.logo {
    width: 250px;
    height: 250px
}

.issueContainer {
    padding: 1rem;
    margin: 2rem 1rem;
}

.info-card:hover {
 opacity: .8;
}

button {
    margin: 1rem
}

@media screen and (max-width: 800px) {
    .issueContainer {
        width: 100%;
    }
}